{% extends 'base.html' %} 

{% block content %} 
    <main>
        <div>
            <h1>{{ todolists.name }}</h1>
            <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todoitem in todolist.items.all %}
                            <tr>
                                <td>{{ todoitem.task }}</td>
                                <td>{{ todoitem.due_date }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock content %}