{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                    </tr>
                <tbody>
                    {% for todolist in todolist_list %}
                        <tr>
                            <td>{{ todolist.name }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main>

{% endblock content %}